       
{% extends "base.html" %}

<!--{% block title %} bass & Shot {% endblock %}-->

{% load static %}
{% block body %}

                <h2> player list </h2>
                <br>

                <table class="table align-middle">
                    <thead>
                        <tr>
                        <th scope="col">Photo</th>
                        <th scope="col">Name</th>
                        <th scope="col">Age</th>
                        <th scope="col">Club</th>
                        <th scope="col">Club Image</th>
                        <th scope="col">Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>

                        <td>
                            <img src="{% static 'img/undraw_profile.svg' %}" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                        </td>
                        <td>Eslam</td>
                        <td>24</td>
                        <td>ALAHLY</td>
                        <td>
                            <img src="{% static 'img/alahly.png' %}" alt="Profile" class="rounded-circle" style="width: 40px; height: 40px;">
                        </td>
                        <td>
                            <button class="btn btn-primary btn-sm">View</button>
                        </td>
                        </tr>
                    </tbody>
                </table>







{% endblock body %}